@use '@styles/layout/container';

.container {
  @include container.container;
}

.event {
  margin: 0 auto;
}

.event + .event {
  margin-top: 1em;
}

@media (min-width: 688px) {
  .event {
    margin: 0;
  }

  .event + .event {
    margin-top: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
}
