.container {
  margin-bottom: 2em;
  margin-top: 2em;
}

.contentLayout {
  width: 60%;
}

.tracks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
}

.title {
  color: var(--conf-color-grey-7);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 2em;
}

.description {
  color: var(--conf-color-grey-7);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;

  white-space: pre-wrap;
  word-break: break-word;
}

@media (max-width: 768px) {
  .contentLayout {
    width: 100%;
  }
}