.card {
  width: 300px;
  border: 1px solid var(--conf-color-grey-2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.cardImg > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.cardImg {
  width: 100%;
  height: 190px;
  align-self: center;
}

.cardTitle {
  margin-top: 0.875em;
  font-size: 1.125rem;
  font-weight: 500;
}

.cardFooter {
  margin-top: 2.5em;
}

.cardLocation {
  color: var(--conf-color-grey-5);
}

.cardDates {
  margin-top: 0.5em;
}
